<h1>Over de vereniging</h1>
<p>De Nederlandse Fokkersvereniging het Drentse Heideschaap bestaat sinds 1985. Het hoofddoel is het bevorderen van de instandhouding en de fokkerij van het oude type Drents Heideschaap en de Schoonebeeker. Zij tracht dit doel te bereiken door:</p>
<ul>
<li>Het verzamelen van relevant historisch materiaal.</li>
<li>Het onderhouden van contacten met deskundigen op dit gebied.</li>
<li>Het opstellen van rasbeschrijvingen en rasstandaarden.</li>
<li>Het beheren van een stamboek.</li>
<li>Het organiseren van huiskeuringen.</li>
<li>Promotieactiviteiten.</li>
<li>Voorlichting over het houden en fokken van Drentse Heideschapen en Schoonebeekers</li>
<li>Het bemiddelen en adviseren bij de aankoop en verkoop van fokschapen.</li>
<li>Het 4 x per jaar uitgeven van het verenigingsblad "Schoone Drent".</li>
<li>Het beheren van een verenigingswebsite.</li>
<li>Informatieve en educatieve bijeenkomsten van leden.</li>
</ul>
<p>
De vereniging kenmerkt zich door een informele sfeer waarin het uitwisselen van kennis en informatie alsmede het ontmoeten van collega-fokkers centraal staan. Er zijn op dit moment ongeveer 250 leden en donateurs. Het ledenaantal stijgt nog steeds.
</p>

<h3>Donateur, stamboekfokker of (stamboek)kudde</h3>
<p>Iedereen die op wat voor manier dan ook wil bijdragen aan de doelstelling van de vereniging kan lid, donateur of deelnemer fokbeleid worden. Leden die fokken volgens het <a href="/assets/fok_en_stamboekregelement.pdf" target="_blank">Fok- en Stamboekreglement (FSR)</a> krijgen de kwalificatie 'stamboekfokker'.</p>

<p>De eisen aan stamboekfokkers komen in het kort neer op:</p>
<ul>
<li>in bezit van UBN-nummer en alle schapen zijn gemerkt conform de I&R-regelgeving;</li>
<li>goedgekeurde fokrammen inzetten;</li>
<li>regelmatig laten keuren;</li>
<li>geboorten en andere mutaties doorgeven aan de stamboekadministratie;</li>
<li>doelbewust fokken en selecteren op exterieur- en raseigenschappen.</li>
</ul>
<p>U kunt als lid zelf kiezen of u stamboekfokker wilt zijn of niet. Als een lid om wat voor reden dan ook niet aan de eisen van het <a href="/assets/fok_en_stamboekregelement.pdf" target="_blank">FSR</a> wil of kan voldoen, kan hij of zij gewoon lid, donateur of deelnemer fokbeleid worden, echter zonder de kwalificatie 'stamboekfokker'.</p>
<p>Wij hechten veel waarde aan het behoud van de kuddes binnen het stamboek. Het <a href="/assets/fok_en_stamboekregelement.pdf" target="_blank">Fok- en Stamboekreglement (FSR)</a> geeft kuddes de mogelijkheid om individuele afspraken te maken over de fokkerij, stamboekadministratie, keuring en selectie die buiten het <a href="/assets/fok_en_stamboekregelement.pdf" target="_blank">FSR</a> vallen. Deze afspraken worden vastgelegd in een kudde-overeenkomst. Hierdoor ontstaat de mogelijkheid om de stamboekfokkerij beter te laten aansluiten bij de bedrijfsvoering van de kudde en te besparen op de kosten van keuringen, stamboek en administratie. Een kudde is gedefinieerd als een groep van tenminste 100 ooien van 1 jaar of ouder die als één geheel beheerd wordt.</p>