.date-selection {
    display: flex;
    flex-direction: column;
}

.date-selection > mat-radio-button {
    margin-bottom: 5px;
}

.location-selection > mat-radio-button {
    margin-right: 10px;
}

.location-text {
    margin: 10px 0 10px 0;
    padding: 0;
}

.paper-check {
    margin-bottom: 10px;
}