

.title {
	color: #000;
	margin: 0 0 10px 0;
	padding: 0;
}

.row {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	align-items: center;
}

.label {
	width: 250px;
	flex-shrink: 0;
	flex-grow: 0;
	padding-top: 9px;
	align-self: flex-start;
}

.inputContainer {
	flex-grow: 1;
	flex-shrink: 1;
}

.input {
	width: 100%;
}

.errorContainer {
	width: 250px;
}

.buttonSet {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	border-top: 1px solid #f0f0f0;
}

.button {
	margin-right: 10px;
}

.section {
	margin-bottom: 15px;
}

.sectionTitle {
	padding: 0;
	margin: 10px 0 5px 0;
}

.sectionText {
	margin: 0 0 15px 0;
}

.studbookContainer {
	padding: 5px 0;
}

.koLabel > span {
	display: block;
	color: dimgray;
}

.koInputContainer {
	width: 100px;
	flex-grow: 0;
}

.seasonInputContainer {
	width: 100px;
	flex-grow: 0;
}

.dekgroep {

}

.dekgroepTitleContainer {
	margin: 15px 0 0 0;
	display: flex;
	flex-direction: row;
}

.dekgroepTitle {
	margin: 10px 0;
	padding: 0;
	font-size: inherit;
}

.dekgroepLabel {
	display: flex;
	flex-direction: row;
}

.dekgroepCountInputContainer {
	width: 100px;
	flex-grow: 0;
}

.dekgroepRamInputContainer {
	width: 250px;
	flex-grow: 0;
}

.addRamButton {
	margin-left: 250px;
}

.removeRamButton {
	margin-left: 5px;
	align-self: stretch;
}

.addDekgroepButton {
}
