.row {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	align-items: center;
}

.section {
	margin-bottom: 15px;
}

.sectionTitle {
	padding: 0;
	margin: 10px 0 5px 0;
}

.label {
	width: 250px;
	flex-shrink: 0;
	flex-grow: 0;
	padding-top: 9px;
	align-self: flex-start;
}

.inputContainer {
	flex-grow: 1;
	flex-shrink: 1;
}

.actions {
	display: flex;
	flex-direction: row;
}

.actions > * {
	margin-right: 10px;
}