<h2 class="title">Inschrijvingen huiskeuring</h2>
<app-toolbar>
    <ng-container *ngIf="selection.size === 0">
        <span matTooltip="Inschrijven voor huiskeuring is op dit moment niet mogelijk">
            <button mat-raised-button (click)="onAddClick()" color="primary" disabled="true"><mat-icon>add</mat-icon> Inschrijven huiskeuring</button>
        </span>
    </ng-container>
    <ng-container *ngIf="selection.size > 0">
        <button mat-raised-button (click)="onUpdateClick()" color="primary" [disabled]="selection.size >= 2"><mat-icon>wysiwyg</mat-icon> <ng-container *ngIf="supportsPDFs">Tonen</ng-container><ng-container *ngIf="!supportsPDFs">Downloaden</ng-container></button>
    </ng-container>
</app-toolbar>

<table class="huiskeuringen-list" mat-table [dataSource]="huiskeuringen">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef width="65">
            <mat-checkbox (change)="selection.toggleMaster()"
                [checked]="selection.allSelected"
                [indeterminate]="selection.partialSelection"
                color="primary">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="selection.toggle(row.id)"
                        [checked]="selection.isSelected(row.id)"
                        color="primary">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Jaar</th>
        <td mat-cell *matCellDef="let form">{{form.year}}</td>
    </ng-container>

    <ng-container matColumnDef="studbook">
        <th mat-header-cell *matHeaderCellDef>Stamboek</th>
        <td mat-cell *matCellDef="let form" [ngSwitch]="form.studbook">
            <ng-container *ngSwitchCase="0">Drents Heideschaap</ng-container>
            <ng-container *ngSwitchCase="1">Schoonebeeker</ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="preferred_date">
        <th mat-header-cell *matHeaderCellDef>Voorkeur datum</th>
        <td mat-cell *matCellDef="let form">{{getPreferredDate(form.region, form.preferred_date)}}</td>
    </ng-container>

    <ng-container matColumnDef="date_sent">
        <th mat-header-cell *matHeaderCellDef>Verzonden op</th>
        <td mat-cell *matCellDef="let form">{{form.date_sent | intlDateTime:{ day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric' } }}</td>
    </ng-container>

    <ng-container matColumnDef="paginator">
        <td mat-footer-cell *matFooterCellDef colspan="99" class="paginator">
            <mat-paginator [pageIndex]="huiskeuringen.pageIndex" [pageSize]="huiskeuringen.pageSize" [length]="huiskeuringen.totalRowCount" [pageSizeOptions]="[50]" (page)="onPage($event)" showFirstLastButtons></mat-paginator>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row class="table-row" *matRowDef="let row; columns: columnsToDisplay" 
        (click)="selection.selectSingle(row.id)"
        (dblclick)="onDoubleClick(row.id)"
    ></tr>
    <tr mat-footer-row *matFooterRowDef="['paginator']"></tr>
</table>
