:host {
    height: 100%;
}

.header {
    background: url("/assets/schapen.jpeg");
    background-size: cover;
    height: 720px;
    position: relative;
}


@media only screen and (min-width: 901px) {
    .mobile-header {
        display: none;
    }
}

.mobile-header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.mobile-spacer {
    flex: 1 1 auto;
}

.mobile-sidenav {
    overflow-y: auto;
    padding: 15px;
}

.mobile-sidenav-header {
    width: 250px;
    line-height: 40px;
}

.mobile-sidenav-header > h2 {
    margin: 0;
    padding: 0;
}

.mobile-sidenav-header > button {
    float: right;
}

.mobile-menu-segment {
    margin-bottom: 20px;
}

.mobile-menu-link {
    display: block;
    border-bottom: 1px solid lightgray;
    color: black;
    padding: 15px 0;
    text-decoration: none;
}

.mobile-menu-link:last-child {
    border-bottom: none;
}

.mobile-menu-sub {
    padding-left: 20px;
}

.mobile-menu-group {
    padding-top: 10px;
}

.mobile-menu-group > span {
    display: block;
    font-size: 80%;
    font-weight: bold;
}

.mobile-menu-group > .mobile-menu-link {
    padding: 10px 0;
    color: #333;
    font-size: 90%;
}

.title {
    position: absolute;
    left: 50%;
	transform: translate(-50%,0);
    bottom: 72px;
    width: 80%;
	max-width: 1536px;
    color: white;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.8),
        1px 1px 3px rgba(0, 0, 0, 0.9);
    white-space: nowrap;
}

.title > h1 {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}

.title > h2 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
}

.navigation-loader {
    position: absolute;
    left: 0;
    right: 0;
    transform: scale(1, 0);
    visibility: hidden;
    opacity: 0;
    transition: transform 200ms linear, visibility 200ms linear, opacity 200ms linear;
}

.navigation-loader.visible {
    transform: scale(1, 1);
    opacity: 1;
    visibility: visible;
}

.header-menu {
    position: absolute;
    left: 50%;
	transform: translate(-50%,0);
    bottom: 19px;
    width: 80%;
	max-width: 1536px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.header-menu-segment {
    background: rgba(30, 30, 30, 0.8);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-right: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

.header-menu-segment:last-child {
    margin-right: 0;
}

.header-menu-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.header-menu-link:hover {
    background: rgba(0, 0, 0, 0.3);
}

.header-menu-link.active {
    background: rgba(0, 0, 0, 0.2);
}

.header-menu-link.active:hover {
    background: rgba(0, 0, 0, 0.3);
}

.header-menu-link:last-child {
    border-right: none;
}

.header-fade {
    height: 20px;
    background: linear-gradient(rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.6));
    border-bottom: 1px solid rgba(100, 100, 100, 1);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer {
    background: rgba(0, 0, 0, 0.1);
    margin-top: 25px;
}

.footer-center {
    width: 80%;
	max-width: 1536px;
    margin: 0 auto;
    padding: 25px 25px 10px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-column {
    width: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 15px;
}

.footer-column > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    color: #000;
}

.footer-column > p {
    margin: 0;
}

.footer-column > table > tbody > tr > td:first-child {
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
}

.footer-column a {
    color: rgba(0, 0, 255, 0.8);
    text-decoration: none;
    line-height: 24px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.copyright-notice {
    font-size: 80%;
}

.center-content {
    margin: 0 auto;
    width: 80%;
    min-height: 45%;
	max-width: 1536px;
}

@media only screen and (max-width: 1100px) {
    .title,
    .header-menu,
    .center-content,
    .footer-center {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        height: 400px;
    }

    .title > h1 {
        font-size: 50px;
    }

    .title > h2 {
        font-size: 20px;
    }
}  

@media only screen and (max-width: 900px) {
    
    .header-menu {
        display: none;
    }

    .header {
        display: none;
    }
}  