<app-message type="error" *ngIf="loadErrorMessage !== null">
    {{loadErrorMessage}}
</app-message>
<ng-container *ngIf="loadErrorMessage === null">
    <h2 class="title">Dekverklaring {{formGroup.controls.season.value}} voor {{studbookName(formGroup.controls.studbook.value)}}</h2>
    <app-message type="error" *ngIf="errorMessage !== null"> 
        {{errorMessage}}
    </app-message>
    <form (submit)="onSubmit($event)">
        <app-dekverklaring-form [formGroup]="formGroup"></app-dekverklaring-form>
        <app-form-actions>
            <!--<button mat-raised-button color="primary" type="submit" [disabled]="loading">Correctie versturen</button>-->
            <button mat-raised-button (click)="onCancelClick()">Sluiten</button>
        </app-form-actions>
    </form>
</ng-container>