.spinner {
	-webkit-animation: loadingCircle 1s linear infinite;
    animation: loadingCircle 1s linear infinite;
}

@-webkit-keyframes loadingCircle {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes loadingCircle {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
