.center {
    composes: centerContent from "../../index.css";
}

.center > h1,
.center > h3 {
    color: black;
}

.center > h3 {
    margin-bottom: 5px;
}

.center > p {
    margin-top: 0;
}

.contactInfo {
    margin-bottom: 50px;
}

.contactInfo  > tbody > tr > td:first-child {
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
    font-style: italic;
}

.contactInfo a {
    color: rgba(0, 0, 255, 0.8);
    text-decoration: none;
}

.contactInfo a:hover {
    text-decoration: underline;
}