<h1>Regelgeving</h1>
<p>Er zijn enige wettelijke regels waar schapenhouders aan moeten voldoen. De belangrijkste regel is de identifcatie en registratie (I&amp;R):</p>
<ul>
    <li>iedere houder moet bij het ministerie van LNV een Uniek Bedrijfs Nummer (UBN) aanvragen.</li>
    <li>alle schapen moeten voorzien zijn van een identificatie (oormerk of maagbolus).</li>
</ul>
<p>Meer informatie op <a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-landbouw-natuur-en-voedselkwaliteit" target="_blank">Ministerie van landbouw, natuur en voedselkwaliteit</a></p>

<p>Kijk in de <a href="http://www.platform-ksg.nl/regelwijzer" target="_blank">Regelwijzer schapen en geiten</a> voor een overzicht van de actuele regelgeving.</p>
<p>Formulieren en overige informatie zijn te vinden op <a href="https://www.platform-ksg.nl/regelwijzer-schapen-en-geiten/" target="_blank">de website van het Platform KSG</a>.</p>

<h2>Voedsel Keten Informatie (VKI)</h2>
<p>VKI is verplicht voor alle dieren die rechtstreeks of via een handelaar  naar de slacht gaan. Als je geen dieren naar de slacht afvoert hoef je dus niets te doen.</p>
<p>Klik <a href="https://www.platform-ksg.nl/slacht/" target="_blank">hier</a> voor meer informatie over VKI.</p>