.center {
    composes: centerContent from "../../index.css";
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.center > h1 {
    color: black;
}

.menu {
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
}