<h1>Lid worden</h1>

<div class="table-container">
    <table class="pros-table">
        <thead>
            <tr class="roles">
                <th class="label-header">&nbsp;</th>
                <th class="check-header">Donateur</th>
                <th class="check-header">Stamboeklid</th>
                <th class="check-header">Kuddelid</th>
                <th class="check-header">Deelnemer Fokbeleid</th>
                <th class="check-header">Gezinslid</th>
            </tr>
            <tr class="role-infos">
                <th class="label-header">&nbsp;</th>
                <th class="check-header">U steunt de vereniging zonder lid te worden.</th>
                <th class="check-header">U wordt lid van de vereniging en uw dieren worden ingeschreven in het stamboek.</th>
                <th class="check-header">Voor kuddes met minimaal 100 ooien gelden aparte regels.</th>
                <th class="check-header">U neemt enkel deel aan het fokprogramma van de vereniging.</th>
                <th class="check-header">Tot het gezin behoren van een stamboeklid en in hetzelfde huis wonen.</th>
            </tr>
            <tr class="prices">
                <th class="label-header">&nbsp;</th>
                <th class="check-header">
                    <span class="sub">min.</span> € 30<br />
                    <span class="sub">per jaar</span>
                </th>
                <th class="check-header">
                    € 52 <a class="price-hint" routerLink="prijslijst" matTooltip="Plus extra kosten voor bijvoorbeeld huiskeuringen">*</a><br/>
                    <span class="sub">per jaar</span>
                </th>
                <th class="check-header">
                    € 67 <a class="price-hint" routerLink="prijslijst" matTooltip="Plus extra kosten voor bijvoorbeeld huiskeuringen">*</a><br />
                    <span class="sub">per jaar</span>
                </th>
                <th class="check-header">
                    € 33 <a class="price-hint" routerLink="prijslijst" matTooltip="Plus extra kosten voor bijvoorbeeld huiskeuringen">*</a><br />
                    <span class="sub">per jaar</span>
                </th>
                <th class="check-header">
                    € 10<br/>
                    <span class="sub">per jaar</span>
                </th>
            </tr>
            <tr class="join-buttons">
                <th class="label-header">Voordelen</th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven" [queryParams]="{ 'soort': 'donateur' }">Inschrijven</button></th>
                <th class="check-header"><button mat-raised-button color="primary" routerLink="inschrijven" [queryParams]="{ 'soort': 'stamboeklidmaatschap' }">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven" [queryParams]="{ 'soort': 'kudde' }">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven" [queryParams]="{ 'soort': 'deelnemer-fokbeleid' }">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven" [queryParams]="{ 'soort': 'gezinslid' }">Inschrijven</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="label-column">Lid van de vereniging</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column">&nbsp;</td>
            </tr>
            <tr>
                <td class="label-column">Toegang tot de ALV</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">Stemrecht op de ALV</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">Deelname aan alles wat de NFDH organiseert</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">Mogelijkheid deelname aan Paraplubestand</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column">&nbsp;</td>
            </tr>
            <tr>
                <td class="label-column">Ontvangt het verenigingsblad 'De Schone Drent'</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
            </tr>        
            <tr>
                <td class="label-column">Ontvangt éénmalig het Handboek Fokkerij</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column">&nbsp;</td>
            </tr>
            <tr>
                <td class="label-column">Kan tegen vastgestelde prijs éénmalig het Handboek Fokkerij ontvangen</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <table class="responsibilities-table">
        <thead>
            <tr class="roles">
                <th class="label-header">&nbsp;</th> 
                <th class="check-header">Donateur</th> 
                <th class="check-header">Stamboeklid</th> 
                <th class="check-header">Kuddelid</th> 
                <th class="check-header">Deelnemer Fokbeleid</th>
                <th class="check-header">Gezinslid</th>
            </tr>
            <tr class="join-buttons">
                <th class="label-header">Voorwaarden</th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-raised-button color="primary" routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="label-column">Affiniteit hebben met het ras</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">De doelstelling van de NFDH onderschrijven</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">Bereid zijn met regelmaat te fokken</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
            </tr>
            <tr>
                <td class="label-column">Bereid zijn te fokken volgens het fokbeleid NFDH</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
            </tr>
            <tr>
                <td class="label-column">Alle aanwezige dieren van het ras worden geregistreerd</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
            </tr>
            <tr>
                <td class="label-column">Bereid zijn de dieren te laten keuren</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
            </tr>
            <tr>
                <td class="label-column">Bereid zijn integer te handelen</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
            </tr>
            <tr>
                <td class="label-column">Verplicht NFDH machtigen voor RVO (informatieproduct en en meldingen)</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
            </tr>
            <tr>
                <td class="label-column">Bereid zijn zich te onderwerpen aan de regels van het Protocol Kuddes</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    Een compleet <a routerLink="prijslijst">overzicht van de tarieven</a> is beschikbaar.
</p>