<h1>Lid worden</h1>

<div class="table-container">
    <table class="pros-table">
        <thead>
            <tr class="roles">
                <th class="label-header">&nbsp;</th> 
                <th class="check-header">Donateur</th> 
                <th class="check-header">Lidmaatschap</th> 
                <th class="check-header">Stamboekfokker</th> 
                <th class="check-header">Kudde</th> 
            </tr>
            <tr class="role-infos">
                <th class="label-header">&nbsp;</th> 
                <th class="check-header">U steunt de vereniging zonder lid te worden.</th> 
                <th class="check-header">U wordt lid van de vereniging, maar uw dieren worden niet ingeschreven in het stamboek.</th> 
                <th class="check-header">U wordt lid van de vereniging en uw dieren worden ingeschreven in het stamboek.</th> 
                <th class="check-header">Uw dieren worden ingeschreven in het stamboek. Voor kuddes met minimaal 100 ooien gelden aparte regels</th> 
            </tr>
            <tr class="prices">
                <th class="label-header">&nbsp;</th>
                <th class="check-header">
                    <span class="sub">min.</span> € 25<br />
                    <span class="sub">per jaar</span>
                </th>
                <th class="check-header">
                    € 30<br/>
                    <span class="sub">per jaar</span>
                </th>
                <th class="check-header">
                    € 30 + € 20<br/>
                    <span class="sub">per jaar + eenmalig</span>
                </th>
                <th class="check-header">
                    € 60<br />
                    <span class="sub">per jaar</span>
                </th>
            </tr>
            <tr class="join-buttons">
                <th class="label-header">Voordelen</th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-raised-button color="primary" routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="label-column">U ondersteunt de instandhouding van een uniek en oeroud levend erfgoed.</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">Middels het clubblad en elektronische nieuwsbrieven wordt u op de hoogte gehouden van de laatste ontwikkelingen.</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">U heeft toegang tot een enorme hoeveelheid kennis en ervaring die binnen onze vereniging is verzameld.</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">Stimulerende en gezellige contacten met andere houders van Drents Heideschapen en Schoonebeekers</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">Nieuwe leden ontvangen het 'Handboek Fokkerij'.</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">Diverse kortingen: 20% op abonnement van Het Schaap en korting op oormerken bij Beljaars Schapenpraktijk.</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>        
            <tr>
                <td class="label-column">Kunnen een mentor krijgen, die hen begeleidt bij het houden van schapen.</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
        </tbody>
    </table>

    <table class="responsibilities-table">
        <thead>
            <tr class="roles">
                <th class="label-header">&nbsp;</th> 
                <th class="check-header">Donateur</th> 
                <th class="check-header">Lidmaatschap</th> 
                <th class="check-header">Stamboekfokker</th> 
                <th class="check-header">Kudde</th> 
            </tr>
            <tr class="join-buttons">
                <th class="label-header">Verantwoordelijkheden</th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-raised-button color="primary" routerLink="inschrijven">Inschrijven</button></th>
                <th class="check-header"><button mat-stroked-button routerLink="inschrijven">Inschrijven</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="label-column">U laat uw dieren <a routerLink="../fokken/keuringen">keuren</a>.</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
            <tr>
                <td class="label-column">U fokt uw schapen op basis van de rasstandaard.</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column">&nbsp;</td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
                <td class="check-column"><mat-icon>check</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>