<div class="content">
    <h1>Welkom op de website van de NFDH</h1>
    <p>
        De Nederlandse Fokkersvereniging het Drentse Heideschaap bestaat sinds 1985. Het hoofddoel is het bevorderen van de instandhouding en de fokkerij van het oude type Drents Heideschaap en de Schoonebeeker.
        De vereniging kenmerkt zich door een informele sfeer waarin het uitwisselen van kennis en informatie alsmede het ontmoeten van collega-fokkers centraal staan. Er zijn op dit moment ongeveer 250 leden en donateurs. Het ledenaantal stijgt nog steeds.    
    </p>
  
    <h2>Foto's leden</h2>
    <gallery class="gallery" [items]="images"></gallery>
</div>
<!--
<div class="sidebar">
    <div class="section">
        <h4>Agenda</h4>
        <div class="calendar-item">
            <div class="calendar-date">30 <span>nov</span></div>
            <div class="calendar-desc">Najaarsbijeenkomst Leden NFDH</div>
        </div>
        <div class="calendar-item">
            <div class="calendar-date">4 <span>mrt</span></div>
            <div class="calendar-desc">Begin keuringsronde Noord-Nederland</div>
        </div>
        <a class="more-link" routerLink="/agenda">Toon volledige agenda</a>
    </div>

    <div class="section">
        <h4>Vraag &amp; Aanbod</h4>
        <div class="vena">
            <div class="vena-image">
                <img src="/assets/home/ad1.jpg" />
            </div>
            <div class="vena-content">
                <span class="vena-title">Ooien en dekrammen te koop</span>
                <p>Te koop:

ooien
uit 2016, 2017, 2018 en 2019

Goedgekeurde dekrammen
uit 2014:
1000013-43094, Lichtvos-smodde, uitstekende staart, zeer goed beenwerk, ontwikkeling, vacht, 68 punten.
uit 2018:
1000828-82401, Zwart-effen, prachtige vacht, mooie kop en horens.</p>

            </div>
        </div>
        <div class="vena">
            <div class="vena-image">
                <img src="/assets/home/ad2.jpg" />
            </div>
            <div class="vena-content">
                <span class="vena-title">Schoonebeeker wol</span>
                <p>
                Netjes geschoren ruwe wol van Schoonebeeker schapen. Zonder vuil en zonder stro of takjes (schapen staan nooit op stal en lopen in grassige natuurgebieden).
                </p>
            </div>
        </div>
        <div class="vena">
            <div class="vena-image">
                
            </div>
            <div class="vena-content">
                <span class="vena-title">Te koop lams- en schapenvlees</span>
                <p>
                Te koop lams-en schapenvlees van Drentse Heideschapen. Onze lammeren en schapen begrazen natuurgebieden van Staatsbosbeheer.
                De dieren voor de slacht worden niet ingeënt en krijgen ook geen wormenkuur.
                </p>
            </div>
        </div>
        <a class="more-link" routerLink="/agenda">Toon alle advertenties</a>
    </div>

    <div class="section">
        <h4>Foto's</h4>
        <div class="album">
            <span class="album-title">Leden Lammerseizoen 2019</span>
            <div class="album-content">
                <div class="album-photo"><img src="/assets/home/photo1.jpg" /></div>
                <div class="album-photo"><img src="/assets/home/photo2.jpg" /></div>
                <div class="album-photo"><img src="/assets/home/photo3.jpg" /></div>
                <div class="album-photo"><img src="/assets/home/photo4.jpg" /></div>
                <div class="album-photo"><img src="/assets/home/photo5.jpg" /></div>
            </div>
        </div>
        <a class="more-link" routerLink="/agenda">Toon alle foto albums</a>
    </div>
</div>-->