<h1>Gezondheid (algemeen)</h1>
<p>Het is onmogelijk hier een overzicht te geven van alle ziekten en aandoeningen van het schaap. Daarover zijn hele boekwerken verschenen. We beperken ons tot enkele ziekten en aandoeningen die regelmatig de kop opsteken en goed te voorkomen, dan wel te behandelen zijn.</p>

<h2>Algemene gezondheidskenmerken</h2>
<p>Zoals reeds eerder gezegd: een ziek schaap hoeft niet direct een dood schaap te betekenen, echter, vaak is men er gewoon te laat bij. Het is dus van belang op tijd te leren zien of een schaap gezond is of juist niet gezond is!!!</p>
<p>We zullen daarom even stilstaan bij een aantal kenmerken waaraan men kan zien of een schaap ziek is. Vaak wordt een ziek schaap ook te laat opgemerkt, omdat er een dikke laag wol omheen zit waardoor men b.v. vermageren niet goed kan zien. Verder loopt een ziek schaap meestal in een koppel, waardoor het ook niet makkelijk is om hem op te merken. Een derde punt is dat schapen vaker wat verder van huis lopen, waardoor de controle minder intensief is.</p>
<p>Waar moeten we nu op letten om te zien dat een schaap niet in orde is?</p>

<h3>Eetlust</h3>
<p>Een schaap wat achterblijft bij het grazen of bij de (bij)voedering, is meestal niet geheel in orde. Verder kan men altijd even de pensbewegingen controleren wanneer men het vermoeden heeft dat een schaap minder goed eet.</p>

<h3>Ademhaling</h3>
<p>Voor de beoordeling van de ademhaling moet men altijd de ademhaling van de rest van de koppel beoordelen, omdat b.v. warm weer ook een te snelle ademhaling kan opleveren. In ieder geval afwijkend is het optreden van neusuitvloeiing en hoesten. Ook afwijkend is een ademhaling die stotend gaat of waarbij een duidelijke buikslag optreedt of wanneer de kop bij het ademen steeds mee op en neer gaat.</p>

<h3>Bloedsomloop</h3>
<p>Om de bloedsomloop te beoordelen, kijken we naar de kleur van de huid en de slijmvliezen. Deze behoren rosé te zijn. Afwijkend is: een paarse (zuurstof tekort), een gele (leveraandoening), een rode (bloedindikking), of een witte kleur (bloedarmoede).</p>

<h3>Temperatuur</h3>
<p>De normale temperatuur ligt tussen 38 en 39,5o Celsius. Bij lammeren ligt die zelfs wat hoger (tot 40o !!). Temperatuursverhoging betekent altijd dat er ergens een ontsteking aanwezig is.</p>

<h3>Gedrag</h3>
<p>Een dier dat zich anders gedraagt dan zijn koppelgenoten, moet nader onderzocht worden.</p>

<h3>Wol</h3>
<p>De wol moet er gezond uitzien. Er mogen geen schuurplekken zichtbaar zijn. Ook mag de wol niet bevuild zijn met b.v. diarree.</p>

<h3>Gangen</h3>
<p>Een schaap moet vlot en vloeiend lopen, het mag niet kreupel zijn.</p>

<h3>Mest</h3>
<p>De ontlasting mag niet te dun zijn, het moeten duidelijk goed gevormde keuteltjes zijn.</p>

<h3>Urine</h3>
<p>De urine moet geel tot lichtgeel van kleur zijn en mag geen ettervlokken of bloedbestanddelen bevatten.</p>

<h3>Conditie</h3>
<p>Om de conditie van een schaap te beoordelen, is het altijd nodig een schaap te voelen!!! Men kan onmogelijk door de wol van het schaap heenkijken.</p>

<h2>Enige anatomische en fysiologische gegevens</h2>
<p>
<strong>Lichaamstemperatuur gemeten in de endeldarm:</strong><br />
Lammeren: 38,5 - 40,5 &deg;Celsius<br />
Schaap, ouder dan 1 jaar: 38,5 - 40 &deg;Celsius<br />
</p>
<p>
<strong>Polsslag - aantal slagen per minuut in rusttoestand:</strong><br/>
Lammeren: 115 - 140<br/>
Jaarling: 85 - 95<br/>
Ooi: 60 - 80<br/>
Ram: 60 - 80<br/>
</p>
<p>
<strong>Ademhaling - aantal ademhalingen per minuut in rusttoestand:</strong><br/>
Deze gegevens zijn niet (altijd) betrouwbaar, omdat het aantal ademhalingen afhankelijk is van de omgevingstemperatuur en de dikte van de vacht (warmte).<br/>
Lammeren: 30 - 50<br/>
Jaarling: 25 - 40<br/>
Schaap: 15 - 30<br/>
</p>
<p>
<strong>Leeftijdbepaling van de foetus - de zogenaamde kop-staart-lengte:</strong><br/>
1 maand: 12 mm.<br/>
2 maanden: 5 cm.<br/>
3 maanden: 16 cm.<br/>
4 maanden: 20 cm.<br/>
</p>