<h1>Bestuur en Commissies</h1>
<h2>Bestuur</h2>
<div class="member-list">
    <mat-card class="member mat-elevation-z2">
        <div class="name">Jeanet Hulmer-Korenhof</div>
        <div class="role">Voorzitter</div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:0683525273">06 - 83 52 52 73</a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:voorzitter@nfdh.nl">voorzitter@nfdh.nl</a>
        </div>
    </mat-card>
    <mat-card class="member mat-elevation-z2">
        <div class="name">M. de Munck</div>
        <div class="role">(Tijdelijk) secretaris</div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:0637382955">06 - 37 38 29 55</a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:info@nfdh.nl">info@nfdh.nl</a>
        </div>
    </mat-card>
    <mat-card class="member mat-elevation-z2">
        <div class="name">Douwe Visser</div>
        <div class="role">2e secretaris</div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:0516577337">0516 - 57 73 37</a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:douwevisser@nfdh.nl">douwevisser@nfdh.nl</a>
        </div>
    </mat-card>
    <mat-card class="member mat-elevation-z2">
        <div class="name">Theo v/d Meer</div>
        <div class="role">Penningmeester</div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:0627848503">06 - 27 84 85 03</a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:penningmeester@nfdh.nl">penningmeester@nfdh.nl</a>
        </div>
    </mat-card>
    <mat-card class="member mat-elevation-z2">
        <div class="name">Judith Prins</div>
        <div class="role">Bestuurslid / PR / Redactie</div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:0642070377">06 - 42 07 03 77</a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:judithprins@nfdh.nl">judithprins@nfdh.nl</a>
        </div>
    </mat-card>
    <mat-card class="member mat-elevation-z2">
        <div class="name">Open functie</div>
        <div class="role">Bestuurslid</div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:"></a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:"></a>
        </div>
    </mat-card>
</div>

<h2>Voorzitter</h2>
<div class="member-list">
    <mat-card class="member mat-elevation-z2">
        <div class="name">Jeanet Hulmer-Korenhof</div>
        <div class="role">Voorzitter</div>
        <div class="address">
            <mat-icon>home</mat-icon>
            <div>
                Oegstgeesteweg 25<br />
                2231 AR Rijnsburg
            </div>
        </div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <div>
                <a href="tel:0713626199">071 - 36 26 19 9</a><br/>
                <a href="tel:0683525273">06 - 83 52 52 73</a>
            </div>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:voorzitter@nfdh.nl">voorzitter@nfdh.nl</a>
        </div>
    </mat-card>
</div>

<h2>Secretariaat / postadres</h2>
<div class="member-list">
    <mat-card class="member mat-elevation-z2">
        <div class="name">Marlaine de Munck</div>
        <div class="role">Secretaris</div>
        <div class="address">
            <mat-icon>home</mat-icon>
            <div>
                Hoofdweg 16<br />
                4411 AR Rilland
            </div>
        </div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:06-37382955">06 - 37 38 29 55</a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:info@nfdh.nl">info@nfdh.nl</a>
        </div>
    </mat-card>
</div>

<h2>Stamboekadministratie</h2>
<div class="member-list">
    <mat-card class="member mat-elevation-z2">
        <div class="name">Titia Geertman</div>
        <div class="role">Stamboekadministratie</div>
        <div class="address">
            <mat-icon>home</mat-icon>
            <div>
                Goedleven 7<br />
                4508 PE Waterlandkerkje
            </div>
        </div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:0117301995">0117 - 30 19 95</a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:stamboek@nfdh.nl">stamboek@nfdh.nl</a>
        </div>
    </mat-card>
</div>

<h2>Ledenadministratie / Penningmeester</h2>
<mat-card class="member mat-elevation-z2">
    <div class="name">Theo v/d Meer</div>
    <div class="role">Penningmeester</div>
    <div class="address">
        <mat-icon>home</mat-icon>
        <div>
            Luxemburg 5<br />
            8412 CG Hoornsterzwaag
        </div>
    </div>
    <div class="phone">
        <mat-icon>phone</mat-icon>
        <a href="tel:0627848503">06 - 27 84 85 03</a>
    </div>
    <div class="mail">
        <mat-icon>mail</mat-icon>
        <a href="mailto:penningmeester@nfdh.nl">penningmeester@nfdh.nl</a>
    </div>
</mat-card>

<h2>Crisisteam</h2>
<p>In het geval van een dierziektecrisis is het crisisteam actief. Zie het <a routerLink="../calamiteitenplan">calamiteitenplan</a>.</p>
<div class="member-list">
    <mat-card class="member mat-elevation-z2">
        <div class="name">Titia Geertman</div>
        <div class="role">Stamboekadministratie</div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:0117301995">0117 - 30 19 95</a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:stamboek@nfdh.nl">stamboek@nfdh.nl</a>
        </div>
    </mat-card>
    <mat-card class="member mat-elevation-z2">
        <div class="name">Jan Bartels</div>
        <div class="role">Dierenarts</div>
        <div class="phone">
            <mat-icon>phone</mat-icon>
            <a href="tel:0117301995">074 - 38 41 92 3</a>
        </div>
        <div class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:elmajan@hetnet.nl">elmajan@hetnet.nl</a>
        </div>
    </mat-card>
</div>

<h3>Keuringscommissie (KC)</h3>
<p>De keuringscommissie bestaat uit een aantal deskundige keurmeesters die in de schapenrassen Drents Heideschaap en Schoonebeeker gespecialiseerd zijn. De uitvoering van de huiskeuringen is in handen van de Keuringscommissie. De te beoordelen schapen worden grondig op vele kenmerken beoordeeld alvorens tot goed- of afkeuring wordt overgegaan. Daarnaast kunnen keurmeesters adviezen geven ten aanzien van bijvoorbeeld selectie van te gebruiken fokkrammen.</p>
<p>De keuringscommissie bestaat uit de volgende leden:</p>
<ul>
<li>Ger v/d Oetelaar ( voorzitter keuringscommissie)</li>
<li>Titia Geertman, keurmeester beide rassen (secretaris keuringscommissie)</li>
<li>Bennie Feije, keurmeester beide rassen</li>
<li>Wim Nijhof, keurmeester beide rassen</li>
<li>Jeanet Hulmer, keurmeester beide rassen</li>
<li>Marco Borkes , keurmeester beide rassen</li>
<li>Marlaine de Munck , In Opleiding Drents Heideschaap</li>
<li>Jetske Diets , In Opleiding Drents Heideschaap</li>
</ul>

<h3>Fokadvies Commissie (FAC)</h3>
<p>De Fokadvies Commissie beoordeelt foktechnische kwesties binnen de vereniging en geeft hierover adviezen. Ook het bijhouden van de rasstandaarden is een taak van de Fokadvies Commissie.</p>
<p>De Fokadvies Commissie bestaat uit de volgende leden:</p>
<ul>
<li>Freek Heuker  (tijdelijk voorzitter FAC, beide rassen)</li>
<li>Wim Dimmers (Drents Heideschaap)</li>
<li> (Schoonebeeker)</li>
<li>Hermina Stout ( Drents Heideschaap )</li>
<li>( Schoonebeeker)</li>
</ul>

<h3>Kudde Commissie (KOC)</h3>
<p>De Kudde Commissie bestaat uit de volgende leden:</p>
<ul>
<li>Douwe Visser (voorzitter KOC)</li>
<li>Titia Geertman</li>
<li>Marco Borkes</li>
<li>Neils Tiktak</li>
<li>Jos Duurland</li>
</ul>

<h3>Vertrouwenspersoon bij de NFDH</h3>
<p>De Keuringscommissie heeft het besluit genomen om een vertrouwenspersoon te benoemen. Professioneel werkende organisaties zoals de Nederlandse Fokkersvereniging Het Drents Heideschaap behoren nauwgezet met klachten e.d. om te gaan. Het aanstellen van een vertrouwenspersoon rondom het keuren van schapen biedt de leden de gelegenheid om bij klachten deze persoon te raadplegen. De vertrouwenspersoon is een onafhankelijk persoon en is voor de leden het eerste aanspreekpunt. De vertrouwenspersoon voert, indien nodig, een gesprek en delegeert zijn bevindingen naar de betreffende autoriteit binnen de vereniging.</p>
<p>Indien een lid het nodig acht neemt hij/zij contact op met de vertrouwenspersoon. De contacten tussen vertrouwenspersoon en het lid worden vertrouwelijk behandeld. Indien nodig neemt de vertrouwenspersoon contact op met de betreffende autoriteit binnen de vereniging en koppelt dit terug aan het lid van de vereniging.</p>
<p>De betreffende autoriteit onderneemt eventueel actie en koppelt, indien nodig, terug aan de vertrouwenspersoon die dit verder ook richting het verenigingslid communiceert.</p>

Open Functie