<h1>Calamiteitenplan</h1>
<p>In de afgelopen jaren zijn wij regelmatig geconfronteerd met dierziektecrises: MKZ, blauwtong en Q-koorts. Daarnaast speelden er andere problematieken zoals de insleep van CL uit Engeland en de brand bij Moerdijk. Soms escaleert een probleem en raakt het ons allemaal. In andere gevallen blijft het beperkt tot een lokaal of kleinschalig probleem. Nieuwe dierziektecrises zullen blijven komen.</p>
<p>Wij willen als fokkersvereniging zo goed mogelijk hierop voorbereid zijn. Doel is het beschermen van onze rassen en het bijstaan van de leden. Aangezien iedere dierziektecrisis anders is en niemand kan voorspellen hoe de volgende crisis eruit zal gaan zien, is het niet mogelijk om een draaiboek te maken dat algemeen toepasbaar is. We beperken ons daarom tot een eenvoudige communicatiestructuur.</p>
<p>De leden van crisisteam beschikken over externe contacten met het Platform KSG en de overheid, overzicht waar de dieren zich bevinden en veterinaire kennis. De voorzitter is het formele aanspreekpunt en is de contactpersoon voor de pers. Klik hier voor de samenstelling van het crisisteam.</p>
<p>Afhankelijk van de situatie, is het crisisteam actief.</p>

<h3>Fase Groen</h3>
<p>Dit is de normale situatie. Er is geen acute dreiging van dierziekten. Het team is alert op nieuwe ontwikkelingen.</p>

<h3>Fase Oranje</h3>
<p>Deze fase treedt in als er een verhoogde dreiging van een dierziekte is, bijvoorbeeld MKZ in een nabij gelegen land.</p>
<ul>
<li>het crisisteam volgt de laatste ontwikkelingen op de voet.</li>
<li>indien nodig worden de leden geattendeerd (E-mail).</li>
</ul>

<h3>Alarmfase Rood</h3>
<p>Bij uitbraak van een dierziekte:</p>
<ul>
<li>het crisisteam is 24/7 bereikbaar.</li>
<li>het crisisteam volgt de laatste ontwikkelingen op de voet.</li>
<li>berichten aan leden bij belangrijke ontwikkelingen.</li>
<li>persoonlijke contacten en ondersteuning van leden in getroffen gebieden.</li>
<li>contact met de overheid en andere instanties.</li>
<li>uitvoering alle acties die nodig zijn: acties richting overheid en politiek, rechtsgang, publiciteit, etc.</li>
</ul>
<p>Het is niet de bedoeling dat het crisisteam fysiek bij de leden langs gaat. Alle veterinaire handelingen moeten door de eigen dierenarts of de bevoegde instanties uitgevoerd worden. Het team zal vooral informeren en adviseren. Het is een vraagbaak en steun voor de leden.</p>