.container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #f0f0f0;
}

.group {
    margin: 10px 0;
}

.groupTitle {
    margin: 0 0 0 5px;
    padding: 4px;
    color: black;
}

.groupContent {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

.item {
    position: relative;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: background 150ms linear;
    cursor: pointer;
}

.item::after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 3px solid #1890ff;
    -webkit-transform: scaleY(.0001);
    transform: scaleY(.0001);
    opacity: 0;
    -webkit-transition: opacity .15s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s cubic-bezier(.215,.61,.355,1);
    transition: opacity .15s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s cubic-bezier(.215,.61,.355,1);
    transition: transform .15s cubic-bezier(.215,.61,.355,1),opacity .15s cubic-bezier(.215,.61,.355,1);
    transition: transform .15s cubic-bezier(.215,.61,.355,1),opacity .15s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s cubic-bezier(.215,.61,.355,1);
    content: '';
}

.item.active::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    -webkit-transition: opacity .15s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1);
    transition: opacity .15s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1);
    transition: transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1);
    transition: transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1);
}

.item:hover {
    color: #000;
    background: rgba(0, 0, 0, 0.1);
}

.active {
    color: #000;
    background: rgba(0, 0, 0, 0.05);
}