<h2>Falcoo</h2>
<p>
    Falcoo is een applicatie die de vereniging gebruikt om het stamboek te administreren.
    U kunt hierop inloggen om de volgende zaken omtrent het stamboek zelf te regelen:
</p>
<ul>
    <li>Ingeven lammeren (alleen indien beide ouders geregistreerd zijn);</li>
    <li>Alle afvoeren. Afvoeren binnen de NFDH komen automatisch op naam van de fokker/koper te staan</li>
    <li>Sterftes</li>
</ul>
<br />
<div class="falcoo-buttons">
    <a mat-stroked-button color="primary" href="https://vnl.falcooonline.com/" target="_blank" class="falcoo-button">Inloggen</a>
    <a mat-stroked-button href="https://vnl.falcooonline.com/handleidingen/HetDrentseHeideschaap.pdf" target="_blank" class="falcoo-button">Handleiding</a>
    <a mat-stroked-button href="https://www.youtube.com/watch?v=_H1BMioZ85Y" target="_blank" class="falcoo-button">Instructiefilmpje</a> 
</div>