.container {
    
}

.table {
    table-layout: auto;
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}

.header {
    border-right: 1px solid #f0f0f0;
    font-weight: 500;
    text-align: left;
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #f0f0f0;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.header:last-child {
    border-right: none;
}

.row:hover > .cell {
    background: #fafafa;
}

.row.selected > .cell {
    background: #e6f7ff;
    border-color: rgba(0,0,0,0.03);
}

.row.selected:hover > .cell {
    background: #dcf4ff;
}

.header, 
.cell {
    position: relative;
    padding: 16px;
    overflow-wrap: break-word;
}

.cell {
    border-bottom: 1px solid #f0f0f0;

}

.selectionCell {
    width: 55px;
    text-align: center;
}

.empty {
    text-align: center;
    padding: 70px 0;
    color: dimgray;
}