<p>
    CL is een sluimerende ziekte, schapen besmet met CL blijven besmet, ook als ze behandeld worden met antibiotica. 
    CL is een zoönose en gevaarlijk voor mensen met intensief contact met besmette schapen.
</p>
<p>
    Om besmettingen te voorkomen zijn de volgende protocollen opgesteld:
</p>
<ul>
    <li><a href="/assets/Protocol_visuele_inspectie_CL_versie_1.pdf" target="_blank">Protocol visuele inspectie CL (versie 1)</a></li>
    <li><a href="/assets/Protocol_hygienemaatregelen_CL_versie_0.pdf" target="_blank">Protocol hygiënemaatregelen (versie 0)</a></li>
    <li><a href="/assets/Protocol_aanvoer_schapen_versie_2.pdf" target="_blank">Protocol aanvoer schapen (versie 2)</a></li>
    <li><a href="/assets/Protocol_CL_contact_bedrijf_versie_2.pdf" target="_blank">Protocol bij CL contact bedrijven (versie 2)</a></li>
    <li><a href="/assets/Protocol_CL_besmet_versie_3.pdf" target="_blank">Protocol bij besmette bedrijven met CL (versie 3)</a></li>
</ul>