<h1>Nieuw wachtwoord instellen</h1>
<p>
    Vul hieronder een nieuw wachtwoord in.
</p>

<form (submit)="onSubmit($event)" [formGroup]="formGroup">
    <app-message type="error" *ngIf="passwordsNotEqual">Wachtwoorden zijn niet hetzelfde</app-message>
    
    <app-form-section>        
        <mat-form-field appearance="fill">
            <mat-label>Wachtwoord</mat-label>
            <input matInput type="password" formControlName="wachtwoord1" />
            <mat-error *ngIf="formGroup.get('wachtwoord1')!.hasError('required')">Verplicht</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Wachtwoord herhalen</mat-label>
            <input matInput type="password" formControlName="wachtwoord2" />
            <mat-error *ngIf="formGroup.get('wachtwoord2')!.hasError('required')">Verplicht</mat-error>
        </mat-form-field>
    </app-form-section>
    
    <app-form-actions>
        <button mat-raised-button color="primary" type="submit">Instellen</button>
        <button mat-button routerLink="/">Annuleren</button>
    </app-form-actions>
</form>