<h1 mat-dialog-title>Instructie RVO machtiging</h1>
<div mat-dialog-content>
    <p>
        Het is verplicht een machtiging RVO aan te maken. Als je inlogt in 'mijn RVO' dan kies je in de blauwe balk 'machtiging verstrekken'.
        Het betreft twee machtigingen aanmaken. Mocht het niet lukken, neem dan gerust contact op met de stamboekadministratie, e-mail: <a href="mailto:stamboek@nfdh.nl">stamboek@nfdh.nl</a>.
    </p>
    <img src="/assets/screenshot-machtiging-rvo.png" />
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" (click)="onCloseClick()" cdkFocusInitial>Sluiten</button>
</div>