.title {
    color: #000;
    margin: 0;
    padding: 0;
}

.search-box {
    width: 400px;
}

.dekverklaring-list {
    width: 100%;
}

.paginator {
    border-bottom: 0px;
}

.table-row {
    cursor: pointer;
}

.table-row > td {
    background-color: rgba(100, 100, 100, 0);
    transition: background-color 100ms linear;
}

.table-row:hover > td {
    background-color: rgba(100, 100, 100, 0.1);
}