:host {
	display: block;
}

.container {
    border-radius: 3px;
	padding: 15px; 
	text-align: left;
	margin-bottom: 15px;
}

.info {

}

.error {
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.1);
}

.success {
	color: #155724; 
	background-color: #d4edda; 
	border: 1px solid #c3e6cb; 
}
