.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    margin-right: 10px;
}

.back-button:hover {
    color: #000;
}

.back-button > mat-icon {
    vertical-align: middle;
}

.prices {
    width: 800px;
    max-width: 100%;
}

.value {
    text-align: right;
}

h3 {
    margin-top: 40px;
    margin-bottom: 0;
}