.inputContainer {
    position: relative;
    height: 40px;
}

.textareaContainer {
	
}

.iconContainer {
    font-size: 130%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.input, .textarea {
    width: 100%;
    height: 100%;
    padding: 4px 11px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	font-size: inherit;
	font-family: inherit;
    color: inherit;
}

.textarea {
	padding: 11px;
}

.iconContainer + .input {
    padding-left: 40px;
}

.input:hover, .textarea:hover {
    border-color: #40a9ff;
}

.input:placeholder-shown, .textarea:placeholder-shown {
    text-overflow: ellipsis;
}

.input:focus, .textarea:focus {
    border-color: #40a9ff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
