<app-vertical-menu class="menu">
    <app-vertical-menu-group title="Vereniging">
        <app-vertical-menu-item routerLink="over-de-vereniging">Over de vereniging</app-vertical-menu-item>
        <app-vertical-menu-item routerLink="bestuur-en-commissies">Bestuur en Commissies</app-vertical-menu-item>
        <app-vertical-menu-item routerLink="calamiteitenplan">Calamiteitenplan</app-vertical-menu-item>
    </app-vertical-menu-group>
</app-vertical-menu>

<div class="content">
    <router-outlet></router-outlet>
</div>