h1 {
    color: #000;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.portal-login-content {
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 30px;
    flex-basis: 100px;
    height: 100%;
}

.login-form {
    margin-top: 30px;
}

.username-input,
.password-input {
    width: 100%;
}

.stay-logged-in-label {
    margin: 10px 0 10px 0;
}

.stay-logged-in-input {
    margin: 0 6px 0 0;
}

.forgot-password-link-container {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-password-link-container a {
    color: rgba(0, 0, 255, 0.8);
    text-decoration: none;
}

.forgot-password-link-container a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    margin-top: 5px;
    height: 40px;
    line-height: 40px;
}

.login-button-spinner {
    margin: 0 auto;
}

.falcoo-login-content {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 30px;
    padding-right: 30px;
    flex-basis: 100px;
    height: 100%;

    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.falcoo-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.falcoo-button {
    flex-grow: 1;
    flex-shrink: 1;
}

.other-content {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 30px;
    flex-basis: 100px;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.portal-login-content > h2,
.falcoo-login-content > h2,
.other-content > h2 {
    margin-top: 0;
    color: #000;
}

@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }

    .portal-login-content,
    .falcoo-login-content,
    .other-content {
        padding-left: 0;
        padding-right: 0;
        border-left: none;
    }

    .portal-login-content,
    .falcoo-login-content {
        margin-bottom: 30px;
    }
}